.navigation{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: #fff;
  box-shadow: 0 23px 32px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: height 0.25s, width 0.25s;
  transition-delay: 0s, 0.5s;
}

.navigation.active{
  width: 300px;
  height: 400px;
  transition: height 0.25s, width 0.25s;
  transition-delay: 0.5s, 0s;
}

.navigation .userBx{
  position: relative;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
}

.navigation.active .userBx{
  width: calc(100% - 60px);
  transition: 0s;
}

.navigation .userBx .imgBx{
  position: relative;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
}

.navigation .userBx .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.navigation .userBx .username{
  white-space: nowrap;
  font-size: 1.1em;
  color: #333;
}

.navigation .menuToggle{
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation .menuToggle::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 32px;
  background: #555;
  box-shadow: 0 10px #555;
  transform: translateY(-10px);
  transition: 0.5s;
}
.navigation.active .menuToggle::before{
  transform: rotate(45deg);
  box-shadow: 0 0 #555;
}
.navigation .menuToggle::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 32px;
  background: #555;
  transform: translateY(10px);
  transition: 0.5s;
}
.navigation.active .menuToggle::after{
  transform: rotate(-45deg);
}

.navigation .menu{
  position: absolute;
  top: 60px;
  margin: 0px;
  padding: 20px;
  width: 100%;
  height: calc(100% - 60px);
  border-top: 1px solid rgba(0,0,0,0.1);
}

.navigation .menu li{
  list-style: none;
}

.navigation .menu li a{
  display: flex;
  align-items: center;
  margin: 20px 0;
  text-decoration: none;
  font-size: 1em;
  color: #555;
  gap: 10px;
}

.navigation .menu li a:hover{
  color: #4e65ff;
}

.navigation .menu li a ion-icon{
  font-size: 1.5em;
}